*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-family: sans-serif;
    gap: 2rem;
}

.card{
    width: 40rem;
    height: 40rem;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.7);
}
.card__header{
    height: 20%;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0 0;
}
.card__description{
    height: 80%;
    padding-left: 2rem;
    padding-top: 2rem;
    border-radius: 0 0 0.5rem 0.5rem;

}
.card__heading{
    font-size: 200%;
    color:#eeeeee;
    font-weight: 200;
}
.u-big{
    font-size: 500%;
}
.button{
    padding: 2rem 4rem;
    font-size: 200%;
    color: #eeeeee;
    border-radius: 1rem;
}
.u-body-flex{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.button:focus{
    outline: none;
    border: 1rem solid green;
}
.u-body-flex-column{
    flex-direction: column;
}
.button--purple{
    background-color: blueviolet;
}